.footer{
    padding: $separacion / 2 ;
    background-color: $verde;
    .contenido-footer{
        padding: $separacion / 2 ;
    }
    .copyright{
        color: $blanco;
        text-align: center;
    }
}